---
layout: default
title: Syntax and Semantics
---

<div class="section-title">
    <h1><span>{{ page.title }}</span></h1>
</div>

<br>
<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div id="posts" class="row listrecent mt-2">
        {% for post in site.posts %}
            {% if post.filter contains 'blog' %}
                {% include postbox_nlp.html %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

