<!-- begin post --> 
{% assign author = site.authors[post.author] %}

{% assign filterIdentifier = "" %}
{% for filt in post.filter %}
    {% assign f = filt | replace:' ','' %}
    {% assign filterIdentifier = filterIdentifier | append: f %}
    {% unless forloop.last %}
        {% assign filterIdentifier = filterIdentifier | append: '-' %}
    {% endunless %}
{% endfor %}

<div class="col-lg-4 col-md-6 mb-30px card-group post" id="{{ filterIdentifier }}">
    <div class="card h-100">
<!--         <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}

                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> 
                    {% endif %}

                {% endif %}
            </a>
        </div> -->
        <div class="card-body">
            <h2 class="card-title">
                <!-- Reading time -->
                <div class="mb-2 font-weight-normal primarycolor" style="font-size: 1rem;">
                    {% include read-time.html content=post.content %}
                </div>
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
            <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}"><h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4></a>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <span class="post-date">{{ post.date | date_to_string }}</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post --> 