---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */


table {
  border-collapse: collapse;
  width: 100%
}

th {
  height: 50px;
  text-align: center;
}

td, td {
    padding: 5px;
}

table, th, td {
  border: 1px solid #a9a6a6cb;
}

.post-excerpt p {
	display:inline;
}

.clicked {
	background-color: #f6eb09;
	color: white;
	border-color:#f6eb09; 
}

.categoryButton:hover, #anyCategory:hover {
	background-color: black;
	color: white;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
		"starsnonscss",
		"read-progress"
;
