---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */



.post-excerpt p {
	display:inline;
}

.clicked {
	background-color: #17A2B7;
	color: white;
	border-color:#17A2B7; 
}

.categoryButton:hover, #anyCategory:hover {
	background-color: black;
	color: white;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
