---
title: "Categories"
layout: default
permalink: "/categories.html"
---
<div class="text-center flex-wrap mt-4" role="group" aria-label="Categories">
<button id="anyCategory" class="categoryButton btn btn-outline-secondary btn-sm shadow-none mb-1 clicked" type="button" onclick="showAllCategories()">All</button>
{% assign filter_array = "" | split:"|" %}
{% for post in site.posts %}
    {% for filt in post.filter %}
        {% assign filter_array = filter_array | push: filt | uniq | sort:0 %}
    {% endfor %}
{% endfor %}
{% assign filters = filter_array | sort %}
{% for filter in filters %}
    <button id="categoryButton" class="categoryButton btn btn-outline-secondary btn-sm shadow-none mb-1" type="button" onclick="filerCategories(this.value)" value="{{ filter }}">{{ filter }}</button>
{% endfor %}
</div>
<hr/>
<div id="posts" class="row listrecent mt-3">
{% for post in site.posts %}
    {% include postbox.html %}
{% endfor %}
</div>